# WorkOS AuthKit Configuration
WORKOS_API_KEY=<WORKOS_API_KEY>
WORKOS_CLIENT_ID=<WORKOS_CLIENT_ID>
WORKOS_COOKIE_PASSWORD="<your password>" # generate a secure password here with openssl rand -base64 32
NEXT_PUBLIC_WORKOS_REDIRECT_URI=http://localhost:3000/api/auth/callback

# Convex Configuration
NEXT_PUBLIC_CONVEX_URL=your_convex_url_here

AUTUMN_PROD_SECRET_KEY=your_autumn_key_here
AUTUMN_SECRET_KEY=your_autumn_secret_key_here

MIDDLEWARE_DEBUG=false

